%tpv
  %respago
    %idterminal 631002
    %idcomercio B06666666600001
    %nombrecomercio BrandName
    %idtransaccion 00312023301
    %moneda 978
    %importe 12,40
    %fechahora 09/09/2002 23:09:00
    - if options.key? 'estado'
      %estado=options['estado']
    %coderror 000
    %codautorizacion 000065
    %firma=options['firma']
